<div>
    <div class="top-nav">
        <div class="display-name">
            Remilia S.
        </div>
        <div class="menu-options">
            <div class="div-btn dropdown-button menu">
                <i class="fas fa-bars fa-lg"></i>
            </div>
            <div class="menu-content hideable hidden">
                <div class="left-pad-because-im-a-bad-person">
                </div>
                <div class="top-border">
                </div>
                <div class="top-border-spacing">
                </div>
                <div class="menu-content-inner">
                    <div class="close-button">
                        <div class="div-btn close-button-inner">
                            <i class="fas fa-times fa-lg"></i>
                        </div>
                    </div>
                    <li>
                        Settings
                    </li>
                    <li>
                        Something else
                    </li>
                    <li>
                        Idfk
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
