// Place all styling inside the > div
// so that this file only affects the corresponding
// DOM specified in home.scss
> div {
    .hidden {
        visibility: hidden; 
        pointer-events: none;
    }
    .div-btn {
        user-select: none;
        &:hover{
            border: 1px $blue solid;
        }
        &:active{
            background-color: $white-dark;
        }
    }

    width: 100%;
    height: 100%;
    background-color: $white;
	color: $blue-dark;
    .top-nav {
        $font-size: 1.6em;
        $vertical-pad: 0.2em;
		width: 100%;
        height: 100%;
        $top-nav-padding: 5px;
		padding: $top-nav-padding;
        .display-name {
			font-size: $font-size;
			font-weight: bold;
			padding: $vertical-pad 0.4em;
			display: inline-block;
        }
        .menu-options {
            height: inherit;
            position: relative;
            top: -($font-size + 2*$vertical-pad);
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;

            $menu-btn-horizontal-margin: 3px;
            // MENU BUTTON
            .dropdown-button{
                float: right;
                padding: 5px;
                border: 1px $blue-light-border solid;
                //box-shadow: 1px 1px grey;
                border-radius: 5px;
                margin: 0px $menu-btn-horizontal-margin;
                &:last-child{
                    float: right;
                    margin-right: 0.4em;
                }
                &.menu-open{
                    border-radius: 5px 5px 0px 0px;
                    border-bottom: 0px;
                    box-shadow: 1px 0px grey;
                    background-color: $gray-light-alpha;
                }
            }

            // MENU CONTENT
            .menu-content {
                margin-right: $menu-btn-horizontal-margin;
                display: grid;
                grid-template-rows: 1px 1fr;
                grid-template-columns: $menu-btn-horizontal-margin 1fr (28px);
                grid-template-areas: "pad border  spacing"
                                     "pad content content";
                background-color: $gray-light-alpha;
                //box-shadow: 0px 0px 4px 2px grey;
                .left-pad-because-im-a-bad-person{
                    grid-area: pad;
                    background-color: $white;
                    border-right: 1px $blue-light-border solid;
                }
                .top-border {
                    grid-area: border;
                    border-top: 1px $blue-light-border solid;
                }
                .top-border-spacing {
                    grid-area: spacing;
                }
                .menu-content-inner {
                    grid-area: content;
                    border-right: 1px $blue-light-border solid;
                }
                .close-button{
                    width: 100%;
                    float: left;
                    padding: 2px;
                    margin-bottom: 15px;
                    display: flex;
                    
                    &-inner{
                        width: 1.6em;
                        height: 1.6em;
                        border-radius: 20px;
                        background-color: grey;
                        margin-bottom: 15px;
                        text-align: center;
                    }
                }
                width: 100%;
                text-align: left;
            }
        }
    }
}
