// Variables for own stuff. Not to be confused with inv/_variables.scss

$ms_2s: 9px;
$ms_1s: 12px;
$ms_0: 12px;
$ms_1b: 14.562px;
$ms_2b: 19.416px;
$ms_3b: 23.561px;
$ms_4b: 31.415px;

$white: #E1E6F9;
$white-dark: #bcc5e6;
$gray-light-alpha: rgba(150, 150, 150, 0.6);
$blue-dark: #001252;
$blue: #3550AD;
$blue-light: #4C73F9;
$blue-light-border: #abb2cf;
$blue-gray: #7182BB;
