{% extends "base.html" %}

<!-- Non-content blocks -->
{% block title %}Blueleaf - Home{% endblock %}

{% block head %}
    {% assets "home_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock head %}

{% block js %}
    {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
{% endblock js %}

<!-- Actual content -->

{% block base_content %}
<div id="main-container">
    <div id="sidebar">
        {% include "home/sidebar.html" %}
    </div>
    <div id="topbar">
        {% include "home/topbar.html" %}
    </div>
    <div id="main-content" class="on-load-fade">
        <div id="usage-tracker">
            {% include "home/usage_tracker.html" %}
        </div>
        <div id="debt-tracker">
            {% include "home/debt_tracker.html" %}
        </div>
    </div>
</div>
{% endblock base_content %}

